.sfdx/tools/apex.db
.sfdx/orgs/test-zio99wtuatjr@example.com/sourcePathInfos.json
.sfdx/orgs/test-zio99wtuatjr@example.com/sourcePathInfos.json.bak
.sfdx/orgs/test-zio99wtuatjr@example.com/maxrevision.json
.sfdx/orgs/test-zio99wtuatjr@example.com/sourcePathInfos.json
.sfdx/orgs/test-caiftecrphuh@example.com/metadataTypeInfos.json
.sfdx/orgs/test-caiftecrphuh@example.com/metadataTypeInfos.json
.sfdx/orgs/test-caiftecrphuh@example.com/sourcePathInfos.json
.sfdx/orgs/test-caiftecrphuh@example.com/sourcePathInfos.json.bak
.sfdx/orgs/test-zio99wtuatjr@example.com/maxrevision.json
.sfdx/orgs/test-zio99wtuatjr@example.com/sourcePathInfos.json
